---
import { getCollection, render } from "astro:content";
import MDLayout from "@layouts/MDLayout.astro";
import Separator from "@components/Separator.astro";

export async function getStaticPaths() {
	let posts = await getCollection("posts");

	return posts.map((post) => {
		return {
			params: { slug: post.id },
			props: { post },
		};
	});
}

const { post } = Astro.props;
const { title, pubDate, readTime } = post.data;

const date = new Date(pubDate);
const fullDate = date.toLocaleDateString("en-us", {
	year: "numeric",
	month: "long",
	day: "numeric",
});

const { Content } = await render(post);
---

<MDLayout
	frontmatter={{
		title,
		backUrl: "/posts/",
	}}
>
	<h1 class="font-bold text-4xl mb-1">{title}</h1>
	<time class="block text-sm opacity-60! mb-6" datetime={fullDate}>
		{fullDate}
		{"·"}
		{readTime} min
	</time>

	<Separator />

	<Content />

	<Separator />

	<script
		src="https://giscus.app/client.js"
		data-repo="amrbashir/amrbashir.me"
		data-repo-id="R_kgDOMKJUBw"
		data-category="Announcements"
		data-category-id="DIC_kwDOMKJUB84C1YXr"
		data-mapping="title"
		data-strict="1"
		data-reactions-enabled="1"
		data-emit-metadata="0"
		data-input-position="top"
		data-theme="transparent_dark"
		data-lang="en"
		data-loading="lazy"
		crossorigin="anonymous"
		async></script>
</MDLayout>
