---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Post from "@components/Post.astro";

const posts = await getCollection("posts");
const sortedPosts = posts.sort(
	(a, b) =>
		new Date(b.data.updated || b.data.pubDate).valueOf() -
		new Date(a.data.updated || a.data.pubDate).valueOf(),
);
const groupedPosts = Object.groupBy(sortedPosts, (p) => new Date(p.data.pubDate).getFullYear());
---

<Layout title="Blog" description="Amr Bashir's Blog">
	<h1 class="font-bold text-3xl">Blog</h1>

	<br />

	{
		Object.entries(groupedPosts).map(([year, posts]) => (
			<>
				<h2 class="text-3xl font-bold opacity-75">{year}</h2>
				<br />
				<ul class="flex flex-col gap-2">
					{posts?.map(({ data, id }) => (
						<Post slug={id} {...data} />
					))}
				</ul>
			</>
		))
	}
</Layout>
