---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Page not found">
	<span class="block w-fit m-auto">
		<h1 class="font-bold">404</h1>
		<br />
		<p class="opacity-75">This page isn't available. Sorry about that.</p>
		<br />
		<a href="/" title="Home" class="btn-link inline-flex">Go Home</a>
	</span>
</Layout>
