---
import Layout from "../layouts/layout.astro";
---

<Layout title="Page not found">
	<div>
		<h1>404</h1>
		<br />
		<p>This page isn't available. Sorry about that.</p>
	</div>
</Layout>

<style>
	div {
		padding: 10rem;
	}
	h1 {
		font-weight: bold;
	}

	p {
		color: rgba(var(--color), 75%);
	}
</style>
