---
import Layout from "../layouts/layout.astro";
---

<Layout title="CV">
	<div>
		<p>Under construction</p>
	</div>
</Layout>

<style>
	div {
		display: flex;
		justify-content: center;
		align-items: center;
		opacity: 0.4;
		height: 100%;
	}
</style>
