---
import Layout from "../layouts/Layout.astro";
import S from "~icons/ri/hammer-line";
---

<Layout>
	<div class="h-full flex justify-center items-center opacity-50">
		<div class="flex gap-2">
			<S />
			<p>Under construction...</p>
		</div>
	</div>
</Layout>
