---
import Project from "@components/Project.astro";
import Separator from "@components/Separator.astro";
import Layout from "@layouts/Layout.astro";

const projects = {
	Web: [
		{
			name: "erp-system",
			description: "An ERP system for a local store, built in public",
			url: "https://erp-system.amrbashir.me",
			icon: "i-myicons-erp",
		},
		{
			name: "amrbashir.me",
			description: "This website, built using Astro",
			url: "https://github.com/amrbashir/amrbashir.me",
			icon: "i-myicons-logo",
		},
	],
	Tauri: [
		{
			name: "tauri",
			description:
				"Build smaller, faster, and more secure desktop and mobile applications with a web frontend",
			url: "https://github.com/tauri-apps/tauri",
			icon: "i-simple-icons-tauri",
		},
		{
			name: "create-tauri-app",
			description: "Rapidly scaffold out a new tauri app project",
			url: "https://github.com/tauri-apps/create-tauri-app",
			icon: "i-simple-icons-tauri",
		},
		{
			name: "vite-plugin-tauri",
			description: "Integrate Tauri in a Vite project to build cross-platform apps",
			url: "https://github.com/amrbashir/vite-plugin-tauri",
			icon: "i-myicons-vite-plugin-tauri",
		},
		{
			name: "muda",
			description: "Menu Utilities for Desktop Applications in Rust",
			url: "https://github.com/tauri-apps/muda",
			icon: "i-simple-icons-tauri",
		},
		{
			name: "tray-icon",
			description: "Tray icons for Desktop Applications in Rust",
			url: "https://github.com/tauri-apps/tray-icon",
			icon: "i-simple-icons-tauri",
		},
	],
	Applications: [
		{
			name: "komorebi-switcher",
			description:
				"A minimal workspace switcher for the Komorebi tiling window manager, seamlessly integrated into Windows 10/11 taskbar",
			url: "https://github.com/amrbashir/komorebi-switcher",
			icon: "i-myicons-komorebi-switcher",
		},
		{
			name: "hijri-widget",
			description: "Minimal Android widget for displaying Hijri date",
			url: "https://github.com/amrbashir/hijri-widget",
			icon: "i-myicons-hijri-widget",
		},
	],
	Miscellaneous: [
		{
			name: "nvim-docs-view",
			description: "A neovim plugin to display lsp hover documentation in a side panel",
			url: "https://github.com/amrbashir/nvim-docs-view",
			icon: "i-simple-icons-neovim",
		},
		{
			name: "nsis-plugin-rs",
			description: "A template for writing an NSIS dll plugin in Rust ",
			url: "https://github.com/amrbashir/nsis-plugin-rs",
			icon: "i-simple-icons-nsis",
		},
	],
};
---

<Layout title="Projects" description="Amr Bashir's Projects">
	<h1 class="font-bold text-3xl text-center">Projects</h1>
	<br />
	<p class="opacity-60 italic text-center">Projects that I created or maintaining</p>
	<br />
	<Separator />
	<br />

	{
		Object.entries(projects).map(([category, projects]) => (
			<>
				<h2 class="opacity-50 font-bold italic text-xl text-center">{category}</h2>
				<br />
				<div class="slide-enter-content m-auto grid sm:grid-cols-2 gap-4">
					{projects.map((project) => (
						<Project {...project} />
					))}
				</div>
				<br />
			</>
		))
	}
</Layout>
