---
import SunLine from "~icons/ri/sun-line";
import MoonLine from "~icons/ri/moon-line";
---

<script>
	const darkModeToggle: HTMLElement | null = document.querySelector("#dark-mode-toggle");

	const isDarkMode = (): boolean => {
		const theme = localStorage.getItem("theme");
		return theme ? theme === "dark" : window.matchMedia("(prefers-color-scheme: dark)").matches;
	};

	const changeHtmlTheme = (isDark: boolean) => {
		isDark
			? document.documentElement.classList.add("dark")
			: document.documentElement.classList.remove("dark");
	};

	const calculateEndRadius = (): Number => {
		if (!darkModeToggle) return 0;

		const rect = darkModeToggle.getBoundingClientRect();
		const x = rect.left + rect.width / 2;
		const y = rect.top + rect.height / 2;

		return Math.hypot(Math.max(x, innerWidth - x), Math.max(y, innerHeight - y));
	};

	const changeBgClipRadius = (isDark: boolean) => {
		if (!darkModeToggle) return;

		const endRadius = isDark ? 0 : calculateEndRadius();

		const rect = darkModeToggle.getBoundingClientRect();
		const x = rect.left + rect.width / 2;
		const y = rect.top + rect.height / 2;

		document.documentElement.style.setProperty("--clip-x", `${x}px`);
		document.documentElement.style.setProperty("--clip-y", `${y}px`);
		document.documentElement.style.setProperty("--clip-radius", `${endRadius}px`);
	};

	const toggleDarkMode = () => {
		const isDark = isDarkMode();

		changeHtmlTheme(!isDark);

		changeBgClipRadius(!isDark);

		localStorage.setItem("theme", isDark ? "light" : "dark");
	};

	// setup dark mode toggle handlers
	darkModeToggle?.addEventListener("click", toggleDarkMode);
	darkModeToggle?.addEventListener("keypress", (e) => {
		if (e.key === "Enter") {
			toggleDarkMode();
		}
	});

	window.addEventListener("resize", () => {
		const isDark = isDarkMode();
		changeBgClipRadius(isDark);
	});

	// change dark mode on mount
	const isDark = isDarkMode();
	changeHtmlTheme(isDark);
	changeBgClipRadius(isDark);
</script>

<div
	tabindex="0"
	role="button"
	id="dark-mode-toggle"
	title="Toggle color scheme"
	class="btn-link cursor-pointer"
	data-trail-cursor
	data-trail-cursor-padding
>
	<div class="max-w-[1.2em] max-h-[1.2em] overflow-hidden">
		<SunLine class="block transition-all-400 ease-out dark:translate-y-[-100%]" />
		<MoonLine class="block transition-all-400 ease-out dark:translate-y-[-100%]" />
	</div>
</div>

<style>
	html {
		--clip-radius: 0px;
		--clip-x: 0px;
		--clip-y: 0px;
	}

	html::after {
		content: "";
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		position: fixed;
		background-color: rgb(234, 235, 230);
		z-index: -999;
		clip-path: circle(var(--clip-radius) at var(--clip-x) var(--clip-y));
		transition: clip-path 400ms ease-out;
	}

	@media (prefers-reduced-motion: reduce) {
		html::after {
			transition: none;
		}
	}
</style>
