---
import MoonIcon from "~icons/ri/moon-line";
import SunIcon from "~icons/ri/sun-line";
---

<script>
	const htmlElement = document.querySelector("html");
	const darkModeToggle: HTMLElement | null = document.querySelector("#dark-mode-toggle");

	const isDarkMode = () => {
		const theme = localStorage.getItem("theme");
		return theme ? theme === "dark" : window.matchMedia("(prefers-color-scheme: dark)").matches;
	};

	const changeDarkModeToggleIcon = (isDark: boolean) => {
		if (isDark) {
			darkModeToggle?.children[0].classList.remove("hidden");
			darkModeToggle?.children[1].classList.add("hidden");
		} else {
			darkModeToggle?.children[0].classList.add("hidden");
			darkModeToggle?.children[1].classList.remove("hidden");
		}
	};

	const changeHtmlTheme = (isDark: boolean) => {
		isDark ? htmlElement?.classList.add("dark") : htmlElement?.classList.remove("dark");
	};

	const toggleDarkMode = () => {
		const isDark = isDarkMode();

		changeHtmlTheme(!isDark);
		changeDarkModeToggleIcon(!isDark);

		localStorage.setItem("theme", isDark ? "light" : "dark");
	};

	darkModeToggle?.addEventListener("click", toggleDarkMode);
	darkModeToggle?.addEventListener("keypress", (e) => {
		if (e.key === "Enter") {
			toggleDarkMode();
		}
	});

	// change dark mode on mount
	const isDark = isDarkMode();
	changeDarkModeToggleIcon(isDark);
	changeHtmlTheme(isDark);
</script>

<div tabindex="0" role="button" id="dark-mode-toggle" title="Toggle color scheme">
	<MoonIcon />
	<SunIcon class:list={"hidden"} />
</div>

<style>
	#dark-mode-toggle {
		justify-content: center;
		cursor: pointer;
	}

	.hidden {
		display: none;
	}
</style>
