---
import GoBackButton from "@components/GoBackButton.astro";

interface Props {
	showFooterGoBack?: boolean;
	backUrl?: string;
}

const { showFooterGoBack = true, backUrl } = Astro.props;
---

<footer class="print:hidden">
	{showFooterGoBack && <GoBackButton backUrl={backUrl} />}

	<div>
		<span class="opacity-60 text-xs"> CC BY-NC-SA 4.0 2024-PRESENT © Amr Bashir </span>
		<span class="flex-auto"></span>
	</div>
</footer>
