---
import Socials from "./Socials.astro";
---

<footer class="flex flex-col justify-center items-center">
	<div class="flex gap-4">
		<Socials />
	</div>
	<p class="text-xs opacity-60">CC BY-NC-SA 4.0 2024-PRESENT © Amr Bashir</p>
</footer>
