---
import Socials from "./Socials.astro";
---

<footer class="flex flex-col justify-center items-center">
	<div class="flex gap-4">
		<Socials />
	</div>
	<p class="opacity-50 text-xs">© Amr Bashir. All rights reserved.</p>
</footer>
