---
import DarkModeToggle from "@components/DarkModeToggle.astro";
import Logo from "@public/logo.svg?raw";
import NavLink from "@components/NavLink.astro";
import SkipToMainContentButton from "@components/SkipToMainContentButton.astro";
---

<header class="print:hidden">
	<nav class="w-full h-20 px-7 overflow-hidden flex justify-between sticky top-0">
		<!-- Left Content -->
		<div class="flex items-center">
			<SkipToMainContentButton />

			<NavLink class="first:*:size-8" iconOnly icon="i-myicons-logo" title="Home" href="/" />
		</div>

		<!-- Right Content -->
		<div class="flex items-center gap-4">
			<!-- Main Navigation Links -->
			<NavLink icon="i-ri-file-text-line" title="Blog" href="/posts" />
			<NavLink icon="i-ri-lightbulb-line" title="Projects" href="/projects" />

			<!-- Socials that are hidden on smaller screens -->
			<NavLink
				class="hidden md:flex"
				iconOnly
				icon="i-ri-github-line"
				title="GitHub"
				href="https://github.com/amrbashir"
				target="_blank"
			/>
			<NavLink
				class="hidden md:flex"
				iconOnly
				icon="i-ri-twitter-x-line"
				title="Twitter"
				href="https://x.com/amrbashir_dev"
				target="_blank"
			/>
			<NavLink
				class="hidden md:flex"
				iconOnly
				icon="i-ri-linkedin-line"
				title="LinkedIn"
				href="https://linkedin.com/in/amrbashir-dev"
				target="_blank"
			/>
			<NavLink
				class="hidden md:flex"
				iconOnly
				icon="i-ri-mail-line"
				title="hi@amrbashir.me"
				href="mailto:hi@amrbashir.me"
			/>

			<NavLink iconOnly href=`${Astro.site}/rss.xml` title="RSS" icon="i-ri-rss-line" />

			<DarkModeToggle />
		</div>
	</nav>
</header>
