---
import favicon from "../../public/logo.svg?raw";
---

<span id="logo">
	<Fragment set:html={favicon} />
</span>

<style>
	#logo {
		height: 2em;
		width: 2em;
		display: flex;
		justify-content: center;
		align-items: center;
	}
</style>
