---
import Logo from "./Logo.astro";
import DarkModeToggle from "./DarkModeToggle.astro";
import Socials from "./Socials.astro";
---

<header>
	<nav class="w-full h-20 px-7 overflow-hidden flex justify-between sticky top-0">
		<div class="flex items-center">
			<a
				id="skip-to-main-content"
				href="#main-content"
				aria-label="Home"
				class="bg-[rgba(var(--bg-color-inverse))] color-inherit decoration-none z-1000 rd-rb-1 h-18 px-10 flex justify-center items-center absolute top--40 left-0 focus:top-0 transition-top-400"
			>
				<span class="color-[rgba(var(--bg-color))]"> Skip to main content </span>
			</a>

			<a href="/" title="Home" class="btn-link" data-trail-cursor data-trail-cursor-padding>
				<Logo />
			</a>
		</div>

		<div class="flex items-center gap-4">
			<a
				href="/projects"
				title="Projects"
				class="btn-link"
				data-trail-cursor
				data-trail-cursor-padding
			>
				<span class="lt-md:hidden"> Projects </span>
				<span class="i-ri-lightbulb-line md:hidden"></span>
			</a>

			<a
				href="/blog"
				title="Blog"
				class="btn-link"
				data-trail-cursor
				data-trail-cursor-padding
			>
				<span class="lt-md:hidden"> Blog </span>
				<span class="i-ri-article-line md:hidden"></span>
			</a>

			<Socials />

			<DarkModeToggle />
		</div>
	</nav>
</header>
