---
import DarkModeToggle from "./DarkModeToggle.astro";
import Logo from "@public/logo.svg?raw";
---

<header class="print:hidden">
	<nav class="w-full h-20 px-7 overflow-hidden flex justify-between sticky top-0">
		<div class="flex items-center">
			<a
				id="skip-to-main-content"
				href="#main-content"
				aria-label="Home"
				class="bg-[rgba(var(--bg-color-inverse))] color-inherit decoration-none z-1000 rd-rb-1 h-18 px-10 flex justify-center items-center absolute top--40 left-0 focus:top-0 transition-top-400"
			>
				<span class="color-[rgba(var(--bg-color))]"> Skip to main content </span>
			</a>

			<a href="/" title="Home" class="btn-link" data-trail-cursor data-trail-cursor-padding>
				<Fragment set:html={Logo} />
			</a>
		</div>

		<div class="flex items-center gap-4">
			<a href="/cv" title="CV" class="btn-link" data-trail-cursor data-trail-cursor-padding>
				<span class="lt-md:hidden"> CV </span>
				<span class="i-myicons-cv md:hidden"></span>
			</a>
			<a
				href="/projects"
				title="Projects"
				class="btn-link"
				data-trail-cursor
				data-trail-cursor-padding
			>
				<span class="lt-md:hidden"> Projects </span>
				<span class="i-ri-lightbulb-line md:hidden"></span>
			</a>

			<a
				href="/blog"
				title="Blog"
				class="btn-link"
				data-trail-cursor
				data-trail-cursor-padding
			>
				<span class="lt-md:hidden"> Blog </span>
				<span class="i-ri-article-line md:hidden"></span>
			</a>

			<a
				class="btn-link"
				href="https://github.com/amrbashir"
				target="_blank"
				title="GitHub"
				data-trail-cursor
				data-trail-cursor-padding
			>
				<span class="i-ri-github-line"></span>
			</a>

			<a
				class="btn-link"
				href="https://x.com/amrbashir_dev"
				target="_blank"
				title="Twitter"
				data-trail-cursor
				data-trail-cursor-padding
			>
				<span class="i-ri-twitter-x-line"></span>
			</a>

			<a
				class="btn-link"
				href="https://www.linkedin.com/in/amrbashir-dev"
				target="_blank"
				title="LinkedIn"
				data-trail-cursor
				data-trail-cursor-padding
			>
				<span class="i-ri-linkedin-line"></span>
			</a>

			<a
				class="btn-link"
				href="mailto:hi@amrbashir.me"
				title="hi@amrbashir.me"
				data-trail-cursor
				data-trail-cursor-padding
			>
				<span class="i-ri-mail-line"></span>
			</a>

			<DarkModeToggle />
		</div>
	</nav>
</header>
