---
import Logo from "./Logo.astro";
import DarkModeToggle from "./DarkModeToggle.astro";
import Socials from "./Socials.astro";
import LightbulbLine from "~icons/ri/lightbulb-line";
import ArticleLine from "~icons/ri/article-line";
---

<nav class="w-full h-full px-7 overflow-hidden flex justify-between">
	<ul class="flex items-center">
		<a
			id="skip-to-main-content"
			href="#main-content"
			aria-label="Home"
			class="bg-accent color-inherit decoration-none z-999 rd-rb-2 p-8 absolute top--40 left-0 focus:top-0 transition-top-400"
		>
			<span class="color-dark"> Skip to main content </span>
		</a>

		<a href="/" title="Home" class="btn-link" data-trail-cursor>
			<Logo />
		</a>
	</ul>

	<ul class="flex items-center gap-4">
		<a href="/blog" title="Blog" class="btn-link" data-trail-cursor>
			<ArticleLine class="sm:hidden" />
			<span class="hidden sm:inline"> Blog </span>
		</a>

		<a href="/projects" title="Projects" class="btn-link" data-trail-cursor>
			<LightbulbLine class="sm:hidden" />
			<span class="hidden sm:inline"> Projects </span>
		</a>

		<Socials />

		<DarkModeToggle />
	</ul>
</nav>
