---
import Logo from "./Logo.astro";
import GitHubIcon from "~icons/ri/github-line";
import TwitterIcon from "~icons/ri/twitter-x-line";
import DarkModeToggle from "./DarkModeToggle.astro";
import LightBulbIcon from "~icons/ri/lightbulb-line";
---

<nav>
	<ul>
		<a id="skip-to-main-content" href="#main-content" aria-label="Home">
			Skip to main content
		</a>
		<a class="home" href="/" aria-label="Home">
			<Logo />
		</a>
	</ul>

	<ul>
		<a href="/projects" title="Projects">
			<LightBulbIcon />
			Projects
		</a>
		<a href="https://github.com/amrbashir" target="_blank" title="GitHub">
			<GitHubIcon />
			GitHub
		</a>
		<a href="https://x.com/amrbashir_dev" target="_blank" title="Twitter">
			<TwitterIcon />
			Twitter
		</a>
		<DarkModeToggle />
	</ul>
</nav>

<style is:global>
	nav {
		width: 100%;
		height: 100%;
		padding: 0 2rem;
		overflow: hidden;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	nav > ul {
		display: flex;
		align-items: center;
		gap: 0.1rem;
	}

	nav a,
	nav div[role="button"] {
		text-decoration: none;
		display: flex;
		align-items: center;
		gap: 0.2rem;
		color: var(--color);
		opacity: 0.6;
		border-radius: 500rem;
		padding: 0.5rem;
	}

	nav a:hover,
	nav div[role="button"]:hover,
	nav a:focus-visible,
	nav div[role="button"]:focus-visible {
		opacity: 1;
	}

	#skip-to-main-content {
		background-color: rgba(var(--accent), 100%);
		outline-color: rgba(var(--color), 100%);
		color: rgba(var(--color-on-accent), 100%);
		position: absolute;
		top: -5rem;
		left: 1rem;
		z-index: 9999;
	}

	#skip-to-main-content:focus {
		top: 1rem;
	}
</style>
