---
import type { HTMLAttributes } from "astro/types";
import Button from "./Button.astro";

interface Props extends HTMLAttributes<"a"> {
	icon?: string;
	iconOnly?: boolean;
}

const { class: className, icon, title, iconOnly = false, ...props } = Astro.props;
---

<Button tag="a" {...props} class:list={["p-2", className]} title={title}>
	<span class={icon}></span>
	{!iconOnly && <span class="hidden md:inline">{title}</span>}
</Button>
