---
interface Props {
	slug: string;
	title: string;
	pubDate: Date | string;
	updated?: Date | string;
}

const { slug, title, pubDate } = Astro.props;

const date = new Date(pubDate);
const dateNoYear = date.toLocaleDateString("en-us", {
	month: "long",
	day: "numeric",
});
const fullDate = date.toLocaleDateString("en-us", {
	year: "numeric",
	month: "long",
	day: "numeric",
});
---

<li
	class="flex flex-col md:flex-row md:items-center gap-2 opacity-75 hover:opacity-100 transition-opacity-300"
>
	<a class="text-lg" href={`/post/${slug}/`}>{title}</a>

	<time class="text-sm opacity-50" datetime={fullDate}>
		{dateNoYear}
	</time>
</li>
