<script>
	const scrollToTop: HTMLElement = document.querySelector("#scroll-to-top")!;
	window.addEventListener("DOMContentLoaded", () => {
		if (window.scrollY >= 100) {
			scrollToTop.style.display = "flex";
		}
	});
	window.addEventListener("scroll", () => {
		if (window.scrollY >= 100) {
			scrollToTop.style.display = "flex";
		} else {
			scrollToTop.style.display = "none";
		}
	});
</script>

<a
	id="scroll-to-top"
	href="#top"
	class="fixed bottom-8 right-8
	       w-8 h-8 rd-2 cursor-pointer decoration-none
	       hidden justify-center items-center
	       opacity-50 hover:opacity-100 focus-visible:opacity-100 transition-opacity-400"
>
	<span class="i-ri-arrow-up-line"></span>
</a>
