---
import Button from "./Button.astro";
---

<script>
	const scrollToTop: HTMLElement = document.querySelector("#scroll-to-top")!;
	window.addEventListener("DOMContentLoaded", () => {
		if (window.scrollY >= 100) {
			scrollToTop.style.display = "flex";
		}
	});
	window.addEventListener("scroll", () => {
		if (window.scrollY >= 100) {
			scrollToTop.style.display = "flex";
		} else {
			scrollToTop.style.display = "none";
		}
	});
</script>

<Button
	tag="a"
	id="scroll-to-top"
	href="#top"
	title="Scroll to top"
	aria-label="Scroll to top"
	class={`fixed bottom-8 right-8 p-2 justify-center cursor-pointer hidden
	       opacity-60 hover:opacity-100 focus-visible:opacity-100 transition-opacity-300`}
>
	<span class="i-ri-arrow-up-line"></span>
</Button>
