<script>
	const scrollToTop: HTMLElement = document.querySelector("#scroll-to-top")!;
	window.addEventListener("scroll", () => {
		if (window.scrollY >= 100) {
			scrollToTop.style.display = "flex";
		} else {
			scrollToTop.style.display = "none";
		}
	});
</script>

<a
	id="scroll-to-top"
	href="#top"
	class="decoration-none color-current fixed bottom-8 right-8 w-4 h-4 hidden justify-center items-center cursor-pointer rd-8 opacity-50 transition-opacity-400 hover:opacity-100 focus-visible:opacity-100"
>
	<span class="i-ri-arrow-up-line"></span>
</a>
