<a
	id="skip-to-main-content"
	href="#main-content"
	aria-label="Home"
	class="bg-[rgba(var(--bg-color-inverse))] decoration-none rd-rb-1 h-18 px-10
	       flex justify-center items-center
		   absolute z-1000 top--40 left-0 focus:top-0 transition-top-400"
>
	<span class="color-[rgba(var(--bg-color))]"> Skip to main content </span>
</a>
