---
import GithubLine from "~icons/ri/github-line";
import TwitterLine from "~icons/ri/twitter-x-line";
import MailLine from "~icons/ri/mail-line";
---

<a
	class="btn-link"
	data-trail-cursor
	href="https://github.com/amrbashir"
	target="_blank"
	title="GitHub"
>
	<GithubLine />
</a>
<a
	class="btn-link"
	data-trail-cursor
	href="https://x.com/amrbashir_dev"
	target="_blank"
	title="Twitter"
>
	<TwitterLine />
</a>
<a
	class="btn-link"
	data-trail-cursor
	href="mailto:contact@amrbashir.me"
	title="contact@amrbashir.me"
>
	<MailLine />
</a>
