<a class="btn-link" href="https://github.com/amrbashir" target="_blank" title="GitHub">
	<span class="i-ri-github-line inline-block"></span>
</a>
<a class="btn-link" href="https://x.com/amrbashir_dev" target="_blank" title="Twitter">
	<span class="i-ri-twitter-x-line inline-block"></span>
</a>
<a class="btn-link" href="mailto:contact@amrbashir.me" title="contact@amrbashir.me">
	<span class="i-ri-mail-line inline-block"></span>
</a>
