<a
	class="btn-link"
	href="https://github.com/amrbashir"
	target="_blank"
	title="GitHub"
	data-trail-cursor
	data-trail-cursor-padding
>
	<span class="i-ri-github-line"></span>
</a>
<a
	class="btn-link"
	href="https://x.com/amrbashir_dev"
	target="_blank"
	title="Twitter"
	data-trail-cursor
	data-trail-cursor-padding
>
	<span class="i-ri-twitter-x-line"></span>
</a>
<a
	class="btn-link"
	href="mailto:contact@amrbashir.me"
	title="contact@amrbashir.me"
	data-trail-cursor
	data-trail-cursor-padding
>
	<span class="i-ri-mail-line"></span>
</a>
