<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Amr Bashir</title>
  </head>

  <body>
    <slot />
  </body>

  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    html {
      height: 100vh;
      width: 100vw;
    }

    body {
      height: 100%;
      width: 100%;
      color: white;
      background-color: black;
    }
  </style>
</html>
