---
import TrailingCursor from "@components/TrailingCursor.astro";
import ScrollToTop from "@components/ScrollToTop.astro";
import NavBar from "@components/NavBar.astro";
import Footer from "@components/Footer.astro";

import "@unocss/reset/tailwind.css";

interface Props {
	title?: string;
	class?: string;
}
const { title, class: className } = Astro.props;
---

<script>
	// transitions are disabled by default on loading using `preload` class
	// once the page is loaded i.e `DOMContentLoaded`, enable transitions again
	window.addEventListener("DOMContentLoaded", () => {
		document.documentElement.classList.remove("preload");
	});
</script>

<html lang="en" class="preload">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

		<title>{`${title ? title + " · " : ""} Amr Bashir`}</title>

		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
			rel="stylesheet"
		/>
	</head>

	<body class="w-screen h-screen color-dark dark:color-light grid grid-rows-[5rem_auto_5rem]">
		<header>
			<NavBar />
		</header>

		<main id="main-content" class="py-10 px-7" class:list={className}>
			<slot />
		</main>

		<Footer />

		<ScrollToTop />

		<TrailingCursor />
	</body>
</html>

<style is:global>
	*:focus-visible {
		outline-color: currentColor;
		outline-style: solid;
		outline-width: 0.1rem;
		outline-offset: 0.2rem;
	}

	html.preload,
	html.preload *,
	html.preload::after,
	html.preload *::after,
	html.preload::before,
	html.preload *::before {
		transition: none !important;
	}

	html {
		overflow-x: hidden;
		overflow-y: scroll;
		scroll-behavior: smooth;
		background-color: black;
		font-family:
			Inter,
			ui-sans-serif,
			system-ui,
			-apple-system,
			BlinkMacSystemFont,
			Segoe UI,
			Roboto,
			Helvetica Neue,
			Arial,
			Noto Sans,
			sans-serif,
			"Apple Color Emoji",
			"Segoe UI Emoji",
			Segoe UI Symbol,
			"Noto Color Emoji";
	}
</style>
